.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon^M

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Compiled Object files
*.slo
*.lo
*.o
# qt files
*.pro.user*
.qmake.cache
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio Crap
*.vcproj
*.vcxproj
*.sln
*.user
*.filters

# Executables
*.exe
*.out
# image files
*.psd

*.app
# temp files under linux
*.~*
#bzr files
.bzr/
#zips and tgz
*.tgz
*.zip
*.tar.gz

#Build directories
build/